{% extends 'base.html.twig' %}

{% block title %}Ajouter une Specialite{% endblock %}

{% block contente %}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
           
        </tr>
    </thead>
    <tbody>
     {% for specialite in specialite %}
        
        <tr>
            <td scope="row">{{specialite.id}}</td>
            <td>{{specialite.libelle}}</td>
     {#}    {% for specmed in specialite.medecins %}
             <td>{{ specmed.nom }} </td>
         {% endfor %} {#}
         <td> <a name="" id="" class="btn btn-primary" href="{{path('specialite.service.edit',{'id':specialite.id})}}" role="button">Editer</a></td>
            <td> <a name="" id="" class="btn btn-danger" href="{{path('specialite.service.delete',{'id':specialite.id})}}" role="button"> Supprimer</a>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}
